<ion-view view-title="Account">

<ion-nav-bar class="bar-positive">
</ion-nav-bar>
  <ion-content>

		<!-- <ion-list>
			<ion-toggle  ng-model="settings.enableFriends">
				Enable Friends
			</ion-toggle>
		</ion-list> -->

		<div ng-hide="loginSuccessful" ng-init="loginSuccessful=false">
			<label class="item">
				<button class="button button-block button-positive" ng-click="fbLogin()" ng-hide="loginSuccessful=true">
				Login with Facebook
				</button>
			</label>
		</div>	

















    



		<div class="list card" ng-if="user.name">
			<img ng-src="http://graph.facebook.com/{{user.id}}/picture">
			<h2>{{user.name}}</h2>
			
		</div>

		<ion-list>   
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="like in user.likes.data" type="item-text-wrap">
				<h2>{{like.name}}</h2>
				
			</ion-item>
		</ion-list>
	
	</ion-content>
	
</ion-view>
