<ion-view view-title="Account">

<ion-nav-bar class="bar-positive">
</ion-nav-bar>
  <ion-content>

		<!-- <ion-list>
			<ion-toggle  ng-model="settings.enableFriends">
				Enable Friends
			</ion-toggle>
		</ion-list> -->

		

		
		<div id="profile-info" ng-if="user.name">
			<img id="profile-image" src="http://graph.facebook.com/{{user.id}}/picture">
			<h3 id="profile-name">{{user.name}}</h3>
			<span id="profile-description">
				<br/>
				<br/>
				<br/>
			</span>
		</div>

		<div ng-if="!user.name">
			<label class="item">
				<button class="button button-block button-positive" ng-click="fbLogin()">
				Login with Facebook
				</button>
			</label>
		</div>


			
		

		<ion-list>   
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="like in user.likes.data" type="item-text-wrap">
				<h2>{{like.name}}</h2>
				<!-- <i class="icon ion-chevron-right icon-accessory"></i>  href='#/tab/dash/{"index": {{$index}}, "name": "{{like.id}}"}'-->

			</ion-item>
		</ion-list>
	</ion-content>
	
</ion-view>
