<ion-view view-title="Chats">
  <ion-nav-bar class="bar-positive">
</ion-nav-bar>
  <ion-slide>
    <ion-content padding="true">

    <p  ng-controller="HomeController">
      <button id="broadcastButton" class="button button-balanced big-btn" ng-click="broadcastState=!broadcastState" ng-init="broadcastState=false" ng-hide="broadcastState">Broadcast my location</button>
      <button id="stopBroadcastButton" class="button button-assertive big-btn" ng-click="broadcastState=!broadcastState" ng-hide="!broadcastState">Stop Broadcasting</button>
    </p>

    <a href="https://www.google.com/?gws_rd=ssl">Heyyyyyyyyyyyyyyyy</a>
<!--
        <div class=" jumbotron center" >
          <label class="item">
            <button id="broadcastButton" class="button" ng-click="broadcastState=!broadcastState" ng-init="broadcastState=false">
              Broadcast my location {{broadcastState}}
            </button>
          </label>
        </div>
-->
<!--        <div class="container" ng-controller="HomeController">
          <p>Location:({{lat}}, {{lng}})</p>
        </div>
-->
    </ion-content>
</ion-slide>
</ion-view>
  