<ion-view view-title="Dashboard">
<ion-nav-bar class="bar-positive">
</ion-nav-bar>
  <ion-content class="padding">
         
    <ion-list class="padding">   

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="like in likes" type="item-text-wrap" href='#/tab/dash/{"index": {{$index}}, "name": "{{like.id}}"}'>
        <h2>{{like.$id}} ({{countMembers(like.users)}})</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        
        <ion-option-button class="button-assertive" ng-click="HideLike">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
