<ion-view view-title="Account">
	<ion-slide>
	<ion-content>
		<!-- <ion-list>
			<ion-toggle  ng-model="settings.enableFriends">
				Enable Friends
			</ion-toggle>
		</ion-list> -->

		<div>
			<label class="item">
				<button class="button button-block button-positive" ng-click="fbLogin()">
				Login with Facebook
				</button>
			</label>
		</div>	

		<div class="list card" ng-if="user.name">
			<img ng-src="http://graph.facebook.com/{{user.id}}/picture">
			<h2>{{user.name}}</h2>
			<!-- <p>{{chat.lastText}}</p> -->
		</div>

		<ion-list>   
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="like in user.likes.data" type="item-text-wrap">
				<h2>{{like.name}}</h2>
				<!-- <i class="icon ion-chevron-right icon-accessory"></i>  href='#/tab/dash/{"index": {{$index}}, "name": "{{like.id}}"}'-->

			</ion-item>
		</ion-list>
	</ion-content>
	</ion-slide>
</ion-view>
