<ion-view view-title="Chats">
  <ion-nav-bar class="bar-positive">
</ion-nav-bar>
  <ion-slide>
    <ion-content padding="true">

    <p >
      <button id="broadcastButton" class="button button-balanced big-btn" ng-click="broadcastState=!broadcastState" ng-init="broadcastState=false" ng-hide="broadcastState">Broadcast my location</button>
      <button id="stopBroadcastButton" class="button button-assertive big-btn" ng-click="broadcastState=!broadcastState" ng-hide="!broadcastState">Stop Broadcasting</button>
      <h4 align='center' ng-hide="!broadcastState">There is 1 user near you.</h5>
      <h4 align='center' ng-hide="!broadcastState">You share 1 interest with users who are near you.</h5>
    </p>

    </p>

<!--
        <div class=" jumbotron center" >
          <label class="item">
            <button id="broadcastButton" class="button" ng-click="broadcastState=!broadcastState" ng-init="broadcastState=false">
              Broadcast my location {{broadcastState}}
            </button>
          </label>
        </div>
-->
<!--        <div class="container" ng-controller="HomeController">
          <p>Location:({{lat}}, {{lng}})</p>
        </div>
-->
    </ion-content>
</ion-slide>
</ion-view>
  